
.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.features-icons .features-icons-item {
  max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}
.a{
  padding-top: 2rem;
}

.si{
  background: url("../img/Banner\ 3.jpg") no-repeat center right;
  width: 100%;
  height: 600px;
  position: relative;
  background-color: #343a40;
  background-size: cover;
    
}
.display-2{
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
}

.call-to-action{
  background: #aa0e0f;
  width: auto;
  height: auto;
  padding: 5% 5% 5% 5%;
}

.container{
  margin-left: 50px;
}

.row-a{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.confirm{
  background: url('../img/Banner\ 1.jpg') no-repeat center center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}


/* Vista mobile */

@media (max-width: 728px) {
  .si{
    background: #aa0e0f;

  }

  .container{
    margin-left: 0px;
  }

  .vist_mov{
    display: block;
  }


}